password.txt
kubeconfigs/
.nv-api.key
k3s-config.yaml
certs/
aws-route53-creds.yaml
wildcard-tls-secret.yaml
.creds
vaults/
rancher-tls-secret.yaml
s3-user_accessKeys.csv
ssm-k8s-argocd_accessKeys.csv

